.title {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #f0f0f0;
    position: fixed;
    top: 0px;
    z-index: 999;
    background: #fff;
    // logo
    .logo {
        float: left;
        height: 55px;
        img {
            height: 100%;
        }
    }
    // Aa
    .style-mode{
        float: right;
        box-sizing: border-box;
        height: 55px;
        padding: 20px 10px;
        img {
            height: 100%;
        }
    }
    // beta
    .beta{
        float: right;
        box-sizing: border-box;
        height: 55px;
        padding: 15px 10px;
        img{
            height: 100%;
        }
    }
    // login
    .login{
        float: right;
        box-sizing: border-box;
        padding: 18px 10px;
        color: #969696;
    }
    // sign
    .sign{
        float: right;
        box-sizing: border-box;
        width: 80px;
        height: 38px;
        padding: 5px 0px;
        margin: 10px 10px;
        border-radius: 20px;
        border: 1px solid #ea6f5a;
        text-align: center;
        color: #ea6f5a;
        line-height: 26px;
    }
    // write
    .write{
        float: right;
        box-sizing: border-box;
        width: 100px;
        height: 38px;
        margin: 10px 10px;
        line-height: 28px;
        background: #ea6f5a;
        border-radius: 20px;
        padding: 5px 10px;
        color: white;
        img{
            height: 65%;
            margin-right: 2px;
            vertical-align: middle;
        }
    }
    .write:hover{
        background: #ec6149;
    }
}