.recommend{
    .item-author{
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 20px;
        .author-title{
            font-size: 14px;
            color: #969696;
        }
        .author-content{
            font-size: 14px;
        }
    }
}