.recommend {
  .item-dynamic {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    div {
      margin: 20px 0px;
      font-size: 14px;
      color: rgb(51, 51, 51);
      i {
        padding: 5px;
        margin-right: 10px;
      }
    }
    div:nth-child(2) {
      i {
        font-size: 12px;
      }
    }
  }
}
